.yash {
    padding-top: 5px;
    margin: 50px 800px 10px;
    height: 200px;
    width: 70px;
    background-color: silver;
}

.red,
.yellow,
.green {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}